/* Override rules for creating custom page layouts on demand. */
.full {
	width: 100% !important;
	float: left !important;
}

.one-half, .half {
	width: 50% !important;
	float: left !important;
}


.two-thirds {
	width: 66% !important;
	float: left !important;
}

.one-third, .third {
	width: 33% !important;
	float: left !important;
}

.three-fourths {
	width: 75% !important;
	float: left !important;
}

.one-fourth, .fourth {
	width: 25% !important;
	float: left !important;
}

.one-fifth {
	width: 20% !important;
	float: left !important;
}

.two-fifths {
	width: 40% !important;
	float: left !important;
}

.three-fifths {
	width: 60% !important;
	float: left !important;
}

.four-fifths {
	width: 80% !important;
	float: left !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.centered {
	margin: 0px auto !important;
} /* When overriding centering of an element should already have a predefined width, otherwise this rule may fail! */

.float-left {
	float: left !important;	
}

.float-right {
	float: right !important;
}

.clear-float {
	clear: both !important;	
}

.clickable {
	cursor: pointer !important;
}

.padded {
	padding: 20px !important;
} /* Adds default of 10px on each side, overrides default padding from browser or other css! */

.padded-x {
	padding: 0px 20px !important;
}

.padded-y {
	padding: 20px 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.bordered {
	border: 1px solid #AAAAAA !important;
}

.hidden {
	display: none !important;
}

.has-margins {
	margin: 5px !important;
}

.has-margins-x {
	margin: 0px 5px !important;
}

.has-margins-y {
	margin: 5px 0px !important;
}

.no-margins {
	margin: 0px !important;
}

.code {
	width: 95% !important;
	height: auto !important;
	overflow: scroll !important;
	border: 1px solid #AAA !important;
	background: #FFF !important;
	margin: 10px auto !important;
}

.maximize-x {
	width: 100% !important;
}

/* 
	Document   : jquery.pnotify.default.css
	Created on : Nov 23, 2009, 3:14:10 PM
	Author     : Hunter Perrin
	Description:
		Default styling for Pines Notify jQuery plugin.
*/

/* Notice
----------------------------------*/
.ui-pnotify {
	top: 18px;
	right: 18px;
	position: absolute;
	height: auto;
	/* Ensure that the notices are on top of everything else. */
	z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	margin: 0;
	position: absolute;
	top: .1em;
	left: .1em;
	bottom: -.2em;
	right: -.2em;
	z-index: -1;
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
}
.ui-pnotify-closer {
	float: right;
	margin-left: .2em;
}
.ui-pnotify-title {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .4em;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* History Pulldown
----------------------------------*/
.ui-pnotify-history-container {
	position: absolute;
	top: 7px;
	right: 18px;
	width: 70px;
	border-top: none;
	/* Ensure that the history container is on top of the notices. */
	z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
	padding: 2px;
}
.ui-pnotify-history-container button {
	cursor: pointer;
	display: block;
	width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
	display: block;
	margin: 0 auto;
}

.dumbCrossFade {
	display:block;
	cursor:pointer;
	border:none;
	position:relative;
	background: url(dumbcrossfade/working.gif) center no-repeat;
}

.dumbCrossFade .dumbItem {
	display:none;
	position:absolute;
	top:0;
	left:0;
	border:none;
}

.dumbCrossFade .dumbItem img {
	border:none;
}