html {
	overflow: scroll;
}
body {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	font-family: georgia;
	background: url(theme/at_bg.jpg) top center #630;
	font-size: 14px;
}
img {
	border: 0px;
}
a {
	text-decoration: none;
	outline: none;
}
a:visited {
	color: #F60;
}
#core {
	width: 960px;
	height: auto;
	overflow: visible;
	margin: 20px auto;
	background: url(theme/light-grid.jpg) repeat;
	border: 1px solid #AAA;
}
#core p a {
	color: #F60;
	border-bottom: 1px dashed !important;
}
#core p a:visited {
	color: #00F;
}
#core li a {
	border-bottom: 0px !important;
}
#core p a:hover {
	border-bottom: 1px solid !important;
}
#navigation {
	width: 100%;
}
#menu {
	position: relative;
  z-index: 1000;
	width: 960px;
	height: 34px;
	margin: 0px auto;
	overflow: visible;
	padding: 0px;
	color: #EEE;
	font-family: garamond;
	font-weight: bold;
	border: 1px solid #AAA;
	border-top: 0px;
	background: url(theme/header-bg.jpg) repeat-x #300;
}
.menu-item {
	position: relative;
	height: 30px;
	overflow: hidden;
	float: left;
	margin: 0px;
	font-size: 21px;	
}
.menu-item:hover {
	overflow: visible;
}
#menu a {
	position: relative;
	display: block;
	color: #EEE;
	text-decoration: none;
	padding: 5px 15px;
}
#menu a:hover {
	color: #F60;
}
.sub-menu {
	border: 1px solid #AAA;
	border-top: 1px solid #300;
	background: url(theme/brown-overlay.png);
	font-size: 12px;
}
.sub-menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#footer {
	width: 100%;
	clear: both;
}
#footer a {
	color: #F60;
}
#footer a:hover {
	text-decoration: underline;
}
#aligned-footer {
	width: 920px;
	height: 100px;
	overflow: visible;
	padding: 20px;
	margin: 0px auto;
	color: #EEE;	
	text-align: center;
}
.quote {
	border: 1px solid #AAA;
	padding: 5px;
	margin: 5px;
	background: url(theme/blockquote.png) #FFF no-repeat;
}
button {
	outline: none !important;
}
.ui-state-error a {
	color: #FFF !important;
	text-decoration: none;
	border-bottom: 1px dotted;
}
.tabs div p a {
	color: #F60 !important;
}