html {
  overflow: scroll;
}
body {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-family: Myriad;
  background: #FFF;
  color: #000;
  font-size: 12px;
}
img {
  border: 0px;
}
a {
  outline: none;
  color: #69F;
}
a:visited {
  color: #69F;
}
#core {
  width: 960px;
  height: auto;
  overflow: visible;
  margin: 20px auto;
  background: url(theme/light-grid.jpg) repeat;
  border: 1px solid #AAA;
}
#core li a {
  border-bottom: 0px !important;
}
#core p a:visited:before, #core li a:visited:before {
  content:  "\2713 ";
}
#navigation {
  width: 100%;
  padding: 20px 0px 0px 0px;
}
#menu {
  position: relative;
  width: 960px;
  height: 32px;
  margin: 0px auto;
  overflow: visible;
  padding: 0px;
  position: relative;
  z-index: 1000;
  color: #EEE;
  font-weight: bold;
  border: 1px solid #555;
  background: url(theme/header-bg.jpg) repeat-x;
}
#home-text {
  display: none;
}
#home-icon {
  position: relative;
	width: 62px;
  height: 32px;
  float: left;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #999;
}
#home-icon a {
	position: relative;
	float: left;
	display: block;
	width: 32px;
	height: 32px;
	padding: 0px 15px;
}
.menu-item {
  position: relative;
  height: 32px;
  overflow: hidden;
  float: left;
  margin: 0px;
  border-right: 1px solid #999;
  font-size: 14px;  
}
.menu-item a {
	height: 14px;
  position: relative;
  display: block;
  color: #EEE;
  text-decoration: none;
	padding: 9px 15px;
}
.menu-item a:visited {
  text-decoration: none;
}
#menu a:hover {
  background: #69F;
  color: #FFF;
}
#menu a:active {
  background: #00F;
  color: #FFF;
}
.sub-menu {
	display: none;
}
#footer {
  width: 100%;
  clear: both;
}
#aligned-footer {
  width: 920px;
  height: 100px;
  overflow: visible;
  padding: 20px;
  margin: 0px auto;
  text-align: center;
}
#aligned-footer p a, #aligned-footer p a:visited {
  text-decoration: none;
}
#aligned-footer p a:hover {
	text-decoration: underline;
}
.quote {
  border: 1px solid #AAA;
  padding: 5px;
  margin: 5px;
  background: url(theme/blockquote.png) #FFF no-repeat;
}
button {
  outline: none !important;
}
#contact_form {
  background: url(theme/contact_card.png);
  width: 760px;
  height: 425px;
  padding: 100px 100px 75px 100px;
  margin: 0px auto;
}
#address {
  padding: 125px 0px;
  text-align: right;
}
