.dumbCrossFade {
	display:block;
	cursor:pointer;
	border:none;
	position:relative;
	background: url(dumbcrossfade/working.gif) center no-repeat;
}
.dumbCrossFade .dumbItem {
	display:none;
	position:absolute;
	top:0;
	left:0;
	border:none;
}
.dumbCrossFade .dumbItem img {
	border:none;
}
